<div class="card m-1" id="sapHelpSearch">
  <div class="card-header">
    <h5>Search Sap Help </h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="helpSearch"
        class="form-control form-control-sm"
        name="text">
    </div>
    <button class="btn btn-primary btn-outline-success btn-sm"
            type="button" (click)="searchSapHelp()">Search Sap Help
    </button>

  </div>
</div>

<div class="row sap-detail-header m-2" *ngIf="sapProductSearchLinks">
  <h4>Product Search Links</h4>
  <button class="btn btn-sm btn-light btn-font mx-auto"
          (click)="showProductSearchLinks=!showProductSearchLinks">
    <i *ngIf="!showProductSearchLinks" class="fa fa-arrow-down"></i>
    <i *ngIf="showProductSearchLinks" class="fa fa-arrow-up"></i>
  </button>
</div>
<div class="container-fluid" *ngIf="showProductSearchLinks && sapProductSearchLinks">
  <app-sap-help-search-detail
    *ngFor="let sapLink of sapProductSearchLinks.sapLinks"
    [sapLink]="sapLink" [labelName]="'Product Name:'">
  </app-sap-help-search-detail>
</div>

<div class="row sap-detail-header m-2" *ngIf="sapContentLinks">
  <h4>Document Links</h4>
  <button class="btn btn-sm btn-light btn-font mx-auto"
          (click)="showDocumentLinks=!showDocumentLinks">
    <i *ngIf="!showDocumentLinks" class="fa fa-arrow-down"></i>
    <i *ngIf="showDocumentLinks" class="fa fa-arrow-up"></i>
  </button>
</div>

<div class="container-fluid" *ngIf="showDocumentLinks && sapContentLinks">
  <app-sap-help-search-detail
    *ngFor="let sapLink of sapContentLinks.sapLinks"
    [sapLink]="sapLink" [labelName]="'Document Link:'">
  </app-sap-help-search-detail>
</div>

