<div class="container">
  <div class="card card-header">
    <div class="row">
      <h3>Customers</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body m-1">
        <div class="row customer-header m-1">
          <div class="col-md-3">
            Customer Name
          </div>
          <div class="col-md-3">
            Customer Code
          </div>
          <div class="col-md-3">
            Industry Code
          </div>
          <div class="col-md-3">
            Geo Code
          </div>

        </div>
        <app-customer-detail
          *ngFor="let customer of customers"
          [customer]="customer"
          [selectedId]="selectedId"
          (selectedEvent)="selectCustomer($event)"></app-customer-detail>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-body m-1">
        <app-functional-assement-list [functionalAssessments]="functionalAssessments">
        </app-functional-assement-list>
      </div>


    </div>

  </div>
</div>
