<div class="row sap-detail-row m-2">
  <div class="col-md-3">{{sapGlossary.termHeader}}</div>
  <div class="col-md-3">{{sapGlossary.term}}</div>
  <div class="col-md-3">{{sapGlossary.softwareComponent}}
  </div>
  <div class="col-md-3">
    <button class="btn btn-sm btn-light btn-font"
            (click)="showFullGlossary=!showFullGlossary">
      <i *ngIf="!showFullGlossary" class="fa fa-arrow-down"></i>
      <i *ngIf="showFullGlossary" class="fa fa-arrow-up"></i>
    </button>
  </div>
</div>
<div class="card card-body" *ngIf="showFullGlossary">
  <p class="p-text-font bg-light p-2">{{sapGlossary.text}}</p>
  <p class="p-url-font">{{sapGlossary.url}}</p>
  <p class="p-id-font p-2"> Id: {{sapGlossary.id}}</p>

</div>
