<div class="card m-2">
  <div class="card-header">
    <h2>Select File</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="customer">Customer:</label>
          <select id="customer" name="customer" [(ngModel)]="customerId" class="form-control-sm mx-1 px-2">
            <option *ngFor="let cust of customers" value="{{cust.id}}">{{cust.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="fileType">File Type:</label>
          <select id="fileType" name="file" [(ngModel)]="fileTypeCode" class="form-control-sm mx-1 px-2">
            <option *ngFor="let fileType of fileTypes" value="{{fileType.code}}">{{fileType.description}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="upload">Upload File</label>
          <input type="file" name="upload" id="upload" class="form-control"
                 (change)="handleFileInput($event.target.files)">
        </div>
      </div>
    </div>
    <div  *ngIf="mimeTypeExcel">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="sheetName">Select Sheet</label>
            <select id="sheetName" name="sheetName" [(ngModel)]="selectedSheet">
              <option *ngFor="let sheetName of excelSheetNames" value="{{sheetName}}">{{sheetName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="mimeTypeExcel" class="row">
        <div class="col mx-2">
          <button class="btn btn-primary" type="button" (click)="parseExcel()">Preview </button>
        </div>
        <div class="col mx-2">
          <button class="btn btn-primary" type="button" (click)="uploadFile()">Upload </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <label>Mime type: {{file && file.type?file.type:' None Selected'}}</label>
      </div>
    </div>
  </div>
</div>
<app-file-preview *ngIf="fileResults"
                  [fileResults]="fileResults"></app-file-preview>

